{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="my-4">
            <h1 class="title">Bienvenue sur FoE-Manager</h1>
        </div>
    </div>
{% endblock %}
