{% extends 'admin/base.admin.html.twig' %}

{% block colRight %}
    <h1 class="text-center text-white bg-info rounded">Accueil</h1>
    <p class="text-center mt-4">
        Vous pouvez içi contrôler les différentes fonctionnalités du site.
    </p>
{% endblock %}